<!DOCTYPE html>
<html>
<head>
    <title>Petalos y Flores</title>
    <link href="~/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1>
            <a href="~/">Pétalos y flores</a>
        </h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        Ejercicio de Manejo de Base de Datos Con ASP.NET MVC
    </footer>
</body>
</html>
