
@{
    Layout = "_Layout";
}

<form method="post" action="~/Account/Login">
    <div>
        <h1>Iniciar sesion</h1>
        <label>Nombre de usuario:</label>
        <input type="text" required name="username" />
        <br />
        <label>Contraseña</label>
        <input type="password" required name="password" />

        <div>
            <p class="error">@Html.ValidationSummary()</p>
            <input type="submit" value="Entrar" />
        </div>
    </div>
</form>