@{
    Layout = "_Layout";
}
<h2 class="titulo">Editar flor</h2>
<form method="post" action="~/Admin/Editar">
    <input type="hidden" />
    <label>Nombre:</label><input type="text" /><br />
    <label>Nombre Cientifico:</label><input type="text" /><br />
    <label>Nombre Común:</label><input type="text" /><br />
    <label>Origen:</label><input type="text" /><br />
    <label>Descripción:</label><textarea rows="5"></textarea><br />

    <input type="submit" value="Guardar" />
    <a href="~/Admin">
        <input type="button" value="Cancelar" />
    </a>
</form>

<div id="popErrores" class="popup" runat="server">
    <div>
        <h1>Ha ocurrido un error:</h1>
        <p id="mensajeError"></p>
        <input type="button" value="Aceptar" />
    </div>
</div>
