@model Petalos.Models.Datosflores
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<form method="post" action="~/Admin/Eliminar/@Model.Idflor"> 
    <div>
        <h1>Por favor confirme:</h1>
        <input type="hidden" asp-for="@Model.Idflor" />
        <p id="mensajeConfirmacion" runat="server">¿Está seguro de eliminar los datos de la flor @Model.Nombre seleccionada?</p>
        <input type="submit" value="Si" />
        <a href="~/Admin">
            <input type="button" value="No" />
        </a>
    </div>
</form>

