@model IEnumerable<Petalos.Models.Datosflores>
@{
    Layout = "_Layout";
}

<h2 class="titulo">LISTA DE FLORES</h2>

<p>
    <a class="button" href="~/Admin/AgregarFlor">Agregar Flor</a>
    <a class="button" href="~/">Salir</a>
</p>

<div class="entrada">

    <table id="tablaFlores" style="width: 100%;">
        <tr style="background: pink;">
            <th>Flor</th>
            <th style="width: 60%">Acción</th>
        </tr>
        @foreach (var f in Model)
        {
        <tr>
            <td>@f.Nombre</td>
            <td>
                <a href='~/Admin/AgregarImagenes/@f.Idflor'>Agregar Imagenes</a>
                <a href='~/Admin/EditarFlor/@f.Idflor'>Editar</a>
                <a href='~/Admin/Eliminar/@f.Idflor'>Eliminar</a>
            </td>
        </tr>
        }
    </table>

</div>

